.header {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: black;
    width: 100%;
    text-align: center;
    padding: 25px 0;
  }

  .upload-btn {
    background-color: green !important;
    color: black !important;
  }

  .upload-btn:hover {
    background-color: darkgreen !important;
  }