 .results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  padding-top: 20px;
}

.image-placeholder {
  width: 400px;
  height: 250px;
  border: 2px solid black;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.bottom-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.emotion-box {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 8px;
  min-height: 100px;
  width: 100%; 
  box-sizing: border-box; 
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
    width: 300px;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }